git# Exclude the specific Sandbox.py file
Sandbox.py
# Windows system files
Thumbs.db
desktop.ini

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/
.venv/
env/
CRO_MDCK_Permeability upload.py
CRO_MICROSOMAL_STAB upload.py
CRO_SOLUBILITY_DATA upload.py
Example SU Excel and TXT reader.py
Multiblock SU Python script.py
QPCR_PLATE_CONDITIONS Template.py